<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528987949761-c1jad93bm5c022k620be47lvhdnf748s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528987949761-c1jad93bm5c022k620be47lvhdnf748s</string>
	<key>API_KEY</key>
	<string>AIzaSyC-TF05doZknGKmW9GzIrOVSH_Rb6ndoRs</string>
	<key>GCM_SENDER_ID</key>
	<string>528987949761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.encription.caht.encriptionCaht</string>
	<key>PROJECT_ID</key>
	<string>encription-caht</string>
	<key>STORAGE_BUCKET</key>
	<string>encription-caht.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528987949761:ios:78b5fccc0edae0a742e240</string>
</dict>
</plist>